apiVersion: v1
kind: Service
metadata:
  name: todobackend
spec:
  selector:
    app: todobackend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todobackend
  labels:
    app: todobackend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todobackend
  template:
    metadata:
      labels:
        app: todobackend
    spec:
      securityContext:
        fsGroup: 1000
      volumes:
        - name: public
          emptyDir: {}
      initContainers:
        - name: collectstatic
          image: 348807118004.dkr.ecr.ap-southeast-2.amazonaws.com/aws-learn-devops/todobackend
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: public
              mountPath: /public
          command: ["python3", "manage.py", "collectstatic", "--no-input"]
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: todobackend.settings_release
      containers:
        - name: todobackend
          image: 348807118004.dkr.ecr.ap-southeast-2.amazonaws.com/aws-learn-devops/todobackend
          imagePullPolicy: IfNotPresent
          readinessProbe:
            httpGet:
              port: 8000
          livenessProbe:
            httpGet:
              port: 8000
          volumeMounts:
            - name: public
              mountPath: /public
          command:
            - uwsgi
            - "--http=0.0.0.0:8000"
            - "--module=todobackend.wsgi"
            - "--master"
            - "--die-on-term"
            - "--processes=4"
            - "--threads=2"
            - "--check-static=/public"
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: todobackend.settings_release
